* {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-areas:
    "header header header header"
    "menu menu menu menu"
    "main main main main"
    "footer footer footer footer"
}

header {
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    height: 3em;
    background-color: orange;
    color: white;
    font-size: 1.25em;
}

.title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 1em;
}

header i {
    text-align: center;
    padding-right: 1em;
   
}

menu {
    grid-area: menu;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}